@import "../../styles/colors.scss";


.header{
    background-color: $primary;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-top: 40px;

    img{
        height: 20px;
        margin-top: 20px;
    }
    h1 {
        color: $white;
        margin: 16px 0px 20px;
    }
}